@import "normalize";
@font-face{
  font-family: 'PTSans';
  url('../fonts/ptsans.woff') format('woff'),
  url('../fonts/ptsans.woff2') format('woff2'),
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'PTSans';
  url('../fonts/ptsansbold.woff') format('woff'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  font-weight: bold;
  font-style: normal;
}
@import "blocks/menu";
@import "blocks/first-screen";
@import "blocks/intro";
@import "blocks/case";
@import "blocks/find-hotel";
@import "blocks/map";
@import "blocks/hashtag";
@import "blocks/social";
@import "blocks/developed";
@import "blocks/feedback";
@import "blocks/photo";
